.container {
    display: grid;
}

.title {
    text-align: center;
    padding-bottom: 0;
    font-size: .90em;
}

.accTime {
    grid-row-start: 1;
    grid-column-start:1;
    grid-row-end: 1;
    grid-column-end: 1;
}

.gyroTime {
    grid-row-start: 2;
    grid-column-start:1;
    grid-row-end: 2;
    grid-column-end: 1;
}

.magTime {
    grid-row-start: 3;
    grid-column-start:1;
    grid-row-end: 3;
    grid-column-end: 1;
}

.accFreq {
    grid-row-start: 1;
    grid-column-start:2;
    grid-row-end: 1;
    grid-column-end: 2;
}

.gyroFreq {
    grid-row-start: 2;
    grid-column-start:2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.magFreq {
    grid-row-start: 3;
    grid-column-start:2;
    grid-row-end: 3;
    grid-column-end: 2;
}


