<!DOCTYPE html>
<head>
    <title>Download</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Server Console</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../static/index.html">Visualisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sessions">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h2>Download Data</h2>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <form id="dataform">
                    <div class="form-group">
                        <div class='input-group date' id='sessionId'>
                            <label for="sessionIdInput">Session ID: </label>
                            <input type='text' class="form-control" id="sessionIdInput"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fromInput">From: </label>
                        <div class='input-group date' id='from'>
                            <input type='text' class="form-control" id="fromInput"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="toInput">To: </label>
                        <div class='input-group date' id='to'>
                            <input type='text' class="form-control" id="toInput"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <div class="row">
                    <div class="alert alert-primary" role="alert">
                        <p id="statusmsg"></p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#dataform").submit(function(e) {
                        e.preventDefault();
                        window.location.href = constructUrl(
                            $("#sessionIdInput").val(),
                            $("#fromInput").val(),
                            $("#toInput").val());
                    });
                });

                $(function () {
                    $('#from').datetimepicker();
                });

                $(function () {
                    $('#to').datetimepicker();
                });

                function constructUrl(sid, fromTimestamp, toTimesamp) {
                    let url = "http://130.159.94.17/api/get/";
                    let fromTime = getTime(fromTimestamp);
                    let toTime = getTime(toTimesamp);

                    if(validateSessionId(sid)) {
                        $("#statusmsg").text('No session ID provided!');
                    } else {
                        if (validateTimestamp(fromTime, toTime)) {
                            $("#statusmsg").text('Timestamps are invalid. Retrieving data for session: ' + sid);
                            url = url + sid;
                        } else {
                            $("#statusmsg").text('Retrieving data for session: '
                                + sid + ' from ' + from + ' to ' + to);
                            url = url + from + '/' + to + '/' + sid;
                        }
                    }
                    return url;
                }

                function getTime(timestamp) {
                    return new Date(timestamp).getTime()/1000;
                }

                function validateSessionId(sid) {
                    return sid == null || sid === "";
                }

                function validateTimestamp(from, to) {
                    return from == null || isNaN(from) || to == null || isNaN(to)
                }

            </script>
        </div>
    </div>
</body>
</head>