<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sessions</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Console</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../static/index.html">Visualisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sessions">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class='col-sm-12'>
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Session ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Device ID</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Count</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="sessions">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "/api/getSessions",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                console.log(res);
                for(let i = 0; i < res.length; i++) {
                    let session = res[i];
                    $("#sessions").append('<tr>' +
                        '<th>' + session.sessionId + '</th>' +
                        '<td>' + session.userId +'</td>' +
                        '<td>' + session.deviceId +'</td>' +
                        '<td>' + session.startTime +'</td>' +
                        '<td>' + session.stopTime +'</td>' +
                        '</tr>');
                }
            },
            error: function(err) {
                console.log(err);
            }
        });
    });
</script>
</html>