<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sessions</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="nav-placeholder">

    </div>
    <div class="container">
        <div class="row">
            <h2>Recent Sessions</h2>
        </div>
        <div class="row">
            <div class='col-sm-12'>
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Session ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Device ID</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                    </tr>
                    </thead>
                    <tbody id="sessions">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.get("templates/nav.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });

        $.ajax({
            url: "/api/getSessions",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                for(let i = 0; i < res.length; i++) {
                    createRow(res[i]);
                }
            },
            error: function(err) {
                console.log(err);
            }
        });

        function createRow(session) {
            let sid = session.sessionId;
            $("#sessions").append('<tr id=' + sid +'>' +
                '<th>' + sid + '</th>' +
                '<td>' + session.userId +'</td>' +
                '<td>' + session.deviceId +'</td>' +
                '<td>' + session.startTime +'</td>' +
                '<td>' + session.stopTime +'</td>' +
                '<td id=count' + sid + '></td>' +
                '<td id=delete' + sid + '></td>' +
                '<td id=validate' + sid + '></td>' +
                '</tr>');
            createButtons(sid);
        }

        function createButtons(sid) {
            let countButton = $("<button>Count</button>"),
                countButtonSel = '#count' + sid;
            countButton.click(function() {
                $.ajax({
                    url: "/api/count/" + sid,
                    type: 'GET',
                    success: function(res) {
                        $(countButtonSel).text(res);
                    }
                });
            });
            countButton.appendTo(countButtonSel);

            let deleteButton = $("<button>Delete</button>"),
                deleteButtonSel = '#delete' + sid;
            deleteButton.click(function() {
                $.ajax({
                    url: "/api/delete/" + sid,
                    type: 'GET',
                    success: function(res) {
                        $(deleteButtonSel).text(res);
                    }
                });
            });
            deleteButton.appendTo(deleteButtonSel);

            let validateButton = $("<button>Validate</button>"),
                validateButtonSel = '#validate' + sid;
            validateButton.click(function() {
                window.location.href = "/api/validate/" + sid;
            });
            validateButton.appendTo(validateButtonSel);
        }
    });
</script>
</html>